<div class='form-group'>
  <%= u.input :item, input_html: { class: 'form-control', rows:1} %>
  <%= u.label :is_correct, class: 'pull-right' %>
  <%= u.check_box :is_correct,  class: 'pull-right', style: 'margin-right: 5px;' %>
</div>