<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Category</th>
    <th>Summary</th>
    <th>Type</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.category %></td>
      <td><%= article.summary %></td>
      <td><%= article.qtype %></td>
    </tr>
  <% end %>

</table>
<%= link_to 'Add new item', new_article_path %>
