// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  border: 1px solid #eaeaea;
  padding :1em;
  .category {}
  .summary {}
  .type {}
  .item {
    font-size: 2em;
    font-weight: bold;
  }
  .choice {}
  .answer {}
  .explanation {}
  .choice {}
}

#error_explanation {
  border:1px solid #ff0000 !important;
  padding: 1em;
  color: #800000 !important;
  border-radius: 5px;
  background-color: #ffd5d5;
  margin-bottom:2em;
  h2 { margin-top: 0; }
}