// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  border: 1px solid #eaeaea;
  padding :1em;
  .category {

    margin-bottom:1em;
  }
  .summary {
    border-top: 1px solid #eaeaea;
    margin-top: 1em;
    padding:1em;
  }
  .type {
    border-top: 1px solid #eaeaea;
    margin-top: 1em;
    padding:1em;
  }
  .item {
    font-size: 1.2em;
    font-weight: bold;
    border-top: 1px solid #eaeaea;
    margin-top: 1em;
    padding:1em;
  }
  .choice {
    border-top: 1px solid #eaeaea;
    margin-top: 1em;
    padding:1em;
    ul {
      margin-top: 1em;
      margin-bottom: 0;
    }
  }
  .answer {
    border-top: 1px solid #eaeaea;
    padding:1em;
    .description {
      margin-top:1em;

    }
  }
  .explanation {
    padding:1em;
    border-top: 1px solid #eaeaea;
  }
  .choice {}
  .status {
    padding:1em;
    border-top: 1px solid #eaeaea;
  }
}

#error_explanation {
  border:1px solid #ff0000 !important;
  padding: 1em;
  color: #800000 !important;
  border-radius: 5px;
  background-color: #ffd5d5;
  margin-bottom:2em;
  h2 { margin-top: 0; }
}

p:last-child {
  margin-bottom:0;
}